.cardWrapper {
  width: 350px;
  height: 407px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgWrapper img {
  height: 237px;
}

.description {
  margin-top: 50px;
  width: 310px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #1c1c27;
}

.description div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy {
  cursor: pointer;
}

.price {
  color: #ffa542;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate img {
  margin-right: 10px;
}

.rate span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}
